/*set*/
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2e2e2e;
}

@font-face {
    font-family: 'GmarketSansTTFLight';
    src: url(../font/GmarketSansTTFLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../font/Roboto-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*header*/
header {
    background-color: #999;
    height: 10%;
    width: 100%;
    margin: auto;
}

.headerwrap{width: 60%;margin: auto;}

header .logo{width: 5%;float: left;margin: 2% 0 0 2%;}
header .logo>img{width: 100%;}

/* nav */

nav {
    font-family: GmarketSansTTFLight;
    font-weight: 600;
    font-size: 1vw;
}

nav .mainmenu {float: left;  text-align: center; width: 40%; margin: 4% 0 0 2%;}
nav .mainmenu>li{ float: left; width: 25%;}